*{
    margin: 0;
    background-color: #292929;
    font-family: monospace;
    color: #FFF2AE;

}

@media(max-width: 620px) {
    header{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 15px 0;
        padding: 12px 0;
        border-bottom: 2px dotted #FFF2AE;

    }

    header h1{
        font-size: 22px;
    }

    main{
        display: grid;
        grid-template-columns: 1fr 1fr;
        
    }

    main .jugadores{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 19px;
        border: 2px dotted #FFF2AE;
    }

    main .jugadores .names{
        margin: 11px 0px;
    }

    main .jugadores .buttons{
        margin-top: 13px;
        padding-bottom: 17px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        height: 22px;
        border-bottom: 2px dotted #FFF2AE;
        
    }
    main .jugadores .buttons button{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 21px;
        height: 21px;
        padding: 20px;
        font-size: 21px;
        border: none;
        background-color: #525252;
        
    }

    main .jugadores .buttons button:active{
        background-color: #FFF2AE;
        color: #292929;
        transition: 0s;
    }

    main .jugadores .buttons b{
        color: #74634f;
        font-size: 25px;
    }

    main .jugadores .buttons .buenas{
        color: #ffd4a2;
        font-size: 25px;
    }

    main .jugadores .gamePoints{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 10px;
    }

    main .jugadores .gamePoints .puntos{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 85%;
        margin: 30px;
    }

    main .jugadores .gamePoints .puntos .punto{
        height: 70px;
        width: 10px;

        background-color: #74634f;
    }
}
